@charset "UTF-8";
body{
	}
	
	
.leftSide{
	display: inline-block;
	padding: 10px; 
	margin: 0px 50px 0px 0px;
	vertical-align: top;
	width: 300px;
	
}

.rightSide{
	display: inline-block;
	padding: 10px;
	margin: 0px 50px 0px 0px;
	vertical-align: top;
	width: 300px;
}

.imgHeader{
	margin-top: 55px;
} 

.mainPic{
	background-size: cover; 
	widgth: 300px;
	height: 300px;
}

